<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">

<head>
	<title>Board</title>
	<link href="css/carousel.css" th:href="@{css/carousel.css}" rel="stylesheet" />
</head>
<!-- NAVBAR
================================================== -->
	<body>
		<div layout:fragment="content">
		<!-- 	<div class = "container"> -->
				<h1 th:text = "${schoolName}">School View Page...</h1>			
		<!-- </div> -->
		</div>
	</body>
</html>
